/* Start Variables */
:root {
    --main-color: #2196f3;
    --secondary-color: #ececec;
    --section-padding: 100px;
    --header-height: 75px;
    --header-focus-color: #fafafa;
    --main-transition: 0.3s;
}

/* End Variables */
/* Start General Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cairo', sans-serif;
}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


/* End General Rules */
/* Start Components */

.section-heading {
    display: block;
    margin: 0 auto 60px;
    width: fit-content;
    padding: 10px 20px;
    border: 2px solid black;
    text-transform: uppercase;
    text-align: center;
    align-content: center;
    position: relative;
    font-size: 29px;
    z-index: 5;
}

.section-heading::before,
.section-heading::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 13px;
    height: 13px;
    background-color: var(--main-color);
    border-radius: 50%;
    z-index: -1;
}

.section-heading::before {
    left: -30px;
}

.section-heading::after {
    right: -30px;
}

.section-heading:hover {
    color: white;
    border-color: white;
    transition: var(--main-transition) 0.6s;
}

.section-heading:hover::before {
    left: 0;
    border-radius: 0;
    width: 51%;
    height: calc(100% + 1px);
    transition: width var(--main-transition) linear var(--main-transition),
        height var(--main-transition) linear var(--main-transition),
        border-radius var(--main-transition) linear var(--main-transition),
        left var(--main-transition) linear;
}

.section-heading:hover::after {
    right: 0;
    border-radius: 0;
    width: 51%;
    height: calc(100% + 1px);
    transition: width var(--main-transition) linear var(--main-transition),
        height var(--main-transition) linear var(--main-transition),
        border-radius var(--main-transition) linear var(--main-transition),
        right var(--main-transition) linear;
}

.spikes {
    position: relative;
}

.spikes::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 30px 30px;
}

/* End Components */
/* Start Header */

header {
    height: 72px;
    background-color: white;
}

@media (max-width: 767px) {
    header {
        height: 90px
    }
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

@media (max-width: 767px) {
    header .container {
        flex-direction: column;
        justify-content: center;
    }
}

header .container .logo {
    text-decoration: none;
    color: var(--main-color);
    font-size: 26px;
    font-weight: 700;
}

@media (max-width: 767px) {
    header .container .logo {
        padding: 10px;
    }
}

header .container .nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .container .nav>li>a {
    display: block;
    position: relative;
    text-decoration: none;
    font-size: 18px;
    padding: 25px 30px;
    color: black;
    overflow: hidden;
    transition: color var(--main-transition),
        background-color var(--main-transition);
}

@media (max-width: 767px) {
    header .container .nav>li>a {
        font-size: 14px;
        padding: 12px 10px;
    }
}

header .container .nav>li>a:hover {
    color: var(--main-color);
    background-color: var(--header-focus-color);
}

header .container .nav>li>a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 4px;
    background-color: var(--main-color);
    transition: width var(--main-transition)
}

header .container .nav>li>a:hover::before {
    width: 100%;
}

header .mega-menu {
    padding: 30px;
    background-color: white;
    width: 100%;
    border-top: 1px solid var(--secondary-color);
    border-bottom: 4px solid var(--main-color);
    position: absolute;
    left: 0;
    top: calc(100% + 50px);
    display: flex;
    justify-content: space-evenly;
    z-index: -1;
    opacity: 0;
    transition: opacity var(--main-transition), top var(--main-transition);
}

@media (max-width: 767px) {
    header .mega-menu {
        flex-direction: column;
    }
}

header .nav>li:hover .mega-menu {
    z-index: 10;
    opacity: 1;
    top: 100%;
}

header .mega-menu .image {
    flex-basis: 40%;
}

header .mega-menu .image img {
    max-width: 100%;
}

@media (max-width: 991px) {
    header .mega-menu .image {
        display: none;
    }
}

header .mega-menu .links {
    display: flex;
    flex-direction: column;
    min-width: 250px;
}

@media (min-width: 768px) and (max-width: 991px) {
    header .mega-menu .links {
        flex-basis: 45%;
    }
}

@media (max-width: 767px) {
    header .mega-menu .links {
        flex-basis: 90%;
    }
}

header .mega-menu .links li {
    text-align: start;
    align-content: center;
    position: relative;
    z-index: 11;
}

header .mega-menu .links li a {
    display: block;
    text-decoration: none;
    color: var(--main-color);
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    align-content: center;
    border-bottom: 1px solid var(--secondary-color);
}

header .mega-menu .links li a i {
    padding-right: 20px;
}

header .mega-menu .links li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--header-focus-color);
    z-index: -1;
    transition: width var(--main-transition);
}

header .mega-menu .links li:hover::before {
    width: 100%;
}

/* End Header */

/* Start Landing */

.landing {
    position: relative;
    height: calc(100vh - 72px);
}

@media (max-width: 767px) {
    .landing {
        height: calc(100vh - 90px);
    }
}

.landing::before {
    content: "";
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    transform: skewY(-6deg);
    z-index: -2;
    transform-origin: top left;
}

.landing .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 120px;
    height: calc(100vh - 72px);
}

@keyframes up-and-down {
    from {
        top: -30px;
    }

    to {
        top: 30px;
    }
}

@media (max-width: 991px) {
    .landing .container .image {
        display: none;
    }
}

.landing .container .image img {
    position: relative;
    animation-name: up-and-down;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-direction: alternate;
    width: 600px;
}

@media (max-width: 991px) {
    .landing .container .text {
        text-align: center;
    }
}

.landing .container .text h1 {
    font-size: 40px;
    letter-spacing: -2px;
    margin: 0;
}

.landing .container .text p {
    color: #666;
    margin-top: 5px;
    font-size: 23px;
    line-height: 1.7;
    font-weight: 500;
}

@keyframes go-down {
    0% {
        bottom: 50px;
    }

    16% {
        bottom: 65px;
    }

    26% {
        bottom: 50px;
    }

    36% {
        bottom: 65px;
    }

    46% {
        bottom: 50px;
    }

    100% {
        bottom: 50px;
    }
}

.landing .go-down {
    display: block;
    text-align: center;
    font-size: 32px;
    color: var(--main-color);
    position: relative;
    bottom: 50px;
    animation-name: go-down;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
}

/* End Landing */

/* Start Articles */
.articles {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
}

.articles .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px
}

.articles .cards .card {
    box-shadow: 0 0 10px 3px #ececec;
    border-radius: 10px;
    bottom: 0px;
    overflow: hidden;
    position: relative;
    transition: box-shadow var(--main-transition),
        bottom var(--main-transition);
}

.articles .cards .card .caption {
    padding: 20px 15px;
    border-bottom: 1px solid #e6e6e6;
}

.articles .cards .card .caption h3 {
    margin-bottom: 15px;

}

.articles .cards .card .caption p {
    font-size: 16px;
    color: #666;
}

.articles .cards .card .read-more {
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
}

.articles .cards .card .read-more a {
    display: block;
    color: var(--main-color);
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
}

@keyframes move-right {
    to {
        left: 10px;
    }
}

.articles .cards .card .read-more i {
    color: var(--main-color);
    position: relative;
    left: 0;
}

.articles img {
    max-width: 100%;
}

.articles .cards .card:hover {
    bottom: 10px;
    box-shadow: 0 0 10px 6px #e6e6e6;
}

.articles .cards .card:hover .read-more i {
    animation-name: move-right;
    animation-duration: calc(1.5 * var(--main-transition));
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-timing-function: linear;
}

.articles::after {
    content: ""
}

/* End Articles */
/* Start Gallery */

.gallery {
    background-color: #e6e6e6;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.gallery .container .images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px;
}

.gallery .container .images .card {
    padding: 15px;
    background-color: white;
    box-shadow: 0 4px 10px 3px #ccc;
}

.gallery .container .images .card .image {
    overflow: hidden;
    position: relative;
}

.gallery .container .images .card .image img {
    max-width: 100%;
    transition: transform var(--main-transition);
}

.gallery .container .images .card .image:hover img {
    transform: rotate(5deg) scale(1.1);
}

@keyframes fade {
    0% {
        width: 0%;
        height: 0%;
    }

    30% {
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.4)
    }

    100% {
        background-color: transparent
    }
}

.gallery .container .images .card .image::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gallery .container .images .card .image:hover::after {
    animation-name: fade;
    animation-duration: calc(3 * var(--main-transition))
}

/* End Gallery */
/* Start Features */

.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.features .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.features .cards .card {
    border: 1px solid #ccc;
}

.features .cards .card .image {
    position: relative;
    overflow: hidden;
}

.features .cards .card .image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.features .cards .card:first-child .image::before {
    background-color: rgba(244, 64, 54, 0.6);
}

.features .cards .card:nth-child(2) .image::before {
    background-color: rgba(0, 150, 136, 0.6);
}

.features .cards .card:last-child .image::before {
    background-color: rgba(3, 169, 244, 0.6);
}

.features .cards .card .image::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-color: transparent transparent white transparent;
    border-style: solid;
    border-width: 0 0 170px 500px;
    transition: var(--main-transition);
}

.features .cards .card:hover .image::after {
    border-width: 0 500px 170px 500px;
}

.features .cards .card .image img {
    max-width: 100%;
}

.features .cards .card .caption {
    padding: 20px;
    align-content: center;
    text-align: center;
}

.features .cards .card .caption h3 {
    font-size: 40px;
    margin: 0 auto;
    margin-bottom: 50px;
    position: relative;
    width: fit-content;
}

.features .cards .card .caption h3::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    height: 5px;
    width: calc(100% - 30px);
}

.features .cards .card:first-child .caption h3::after {
    background-color: #f44036;
}

.features .cards .card:nth-child(2) .caption h3::after {
    background-color: #009688;
}

.features .cards .card:last-child .caption h3::after {
    background-color: #03a9f4;
}


.features .cards .card .caption p {
    color: #777;
    font-size: 20px;
    line-height: 2;
    margin-bottom: 50px;
}

.features .cards .card .caption a {
    display: block;
    width: fit-content;
    margin: 0 auto 10px;
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 5px;
    border-style: solid;
    border-width: 3px;
    position: relative;
    transition: color var(--main-transition);
}


.features .cards .card:first-child .caption a {
    border-color: #f44036;
    color: #f44036;
}

.features .cards .card:nth-child(2) .caption a {
    border-color: #009688;
    color: #009688;
}

.features .cards .card:last-child .caption a {
    border-color: #03a9f4;
    color: #03a9f4;
}

.features .cards .card:hover .caption a {
    color: white;
}


.features .cards .card .caption a::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: calc(100% + 3px);
    background-color: black;
    z-index: -1;
    transition: width var(--main-transition);
}

.features .cards .card:hover .caption a::after {
    width: 100%;
}

.features .cards .card:first-child .caption a::after {
    background-color: #f44036;
}

.features .cards .card:nth-child(2) .caption a::after {
    background-color: #009688;
}

.features .cards .card:last-child .caption a::after {
    background-color: #03a9f4;
}

/* End Features */

/* Start Testimonials */

.testimonials {
    background-color: var(--secondary-color);
    padding: var(--section-padding) 0;
}

.testimonials .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px;
}

.testimonials .cards .card {
    background-color: white;
    position: relative;
    padding: 20px;
    border-radius: 10px;
}

.testimonials .cards .card .image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: solid var(--secondary-color) 10px;
    background-color: var(--secondary-color);
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(10%, -50%);
    align-content: center;
    text-align: center;
}

.testimonials .cards .card .image img {
    width: 100%;
    height: 100%;
}

.testimonials .cards .card h3 {
    margin-bottom: 10px;
}

.testimonials .cards .card p {
    color: #777;
    margin-bottom: 10px;
}

.testimonials .cards .card .rating {
    margin-bottom: 10px;
}

.testimonials .cards .card p.review {
    font-size: 16px;
    line-height: 1.5;
}

/* End Testimonials */
/* Start Team Members */

.members {
    padding: var(--section-padding) 0;
}

.members .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.members .cards .card {
    padding: 60px 0 0;
    position: relative
}

.members .cards .card::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 60px);
    height: 100%;
    background-color: #f3f3f3;
    z-index: -2;
    border-radius: 10px;
}

.members .cards .card::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: #e4e4e4;
    z-index: -1;
    border-radius: 10px;
    transition: width var(--main-transition);
}

.members .cards .card:hover::after {
    width: calc(100% - 60px);
}

.members .cards .card .main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.members .cards .card .main .image {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}

.members .cards .card .main .image img {
    max-width: 100%;
    max-height: 100%;
    transition: filter var(--main-transition),
        -webkit-filter var(--main-transition);
}

.members .cards .card:hover .main .image img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.members .cards .card .main .links {
    padding: 20px;
    text-align: center;
}

.members .cards .card .main .links a {
    display: block;
    margin-bottom: 30px;
    font-size: 15px;
    color: #777;
    transition: color var(--main-transition);
}

.members .cards .card .main .links a:hover {
    color: var(--main-color);
}

.members .cards .card .caption {
    padding-left: 80px;
}

.members .cards .card .caption h3 {
    margin-bottom: 10px;
}

.members .cards .card .caption p {
    margin-bottom: 25px;
}

.members .cards .card .caption h3 {
    color: var(--main-color);
    font-size: 22px;
    margin-bottom: 10px;
    transition: color var(--main-transition);
}

.members .cards .card:hover .caption h3 {
    color: #777;
}

/* End Team Members */
/* Start Services */

.services {
    padding: var(--section-padding) 0;
    background-color: var(--secondary-color);
}

.services .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px
}

.services .cards .card {
    background-color: white;
    text-align: center;
    padding: 40px 0 0;
    counter-increment: cnt;
    box-shadow: 0 3px 9px 1px #aaa;
    position: relative;
    bottom: 0;
    transition: bottom var(--main-transition);
}

.services .cards .card:hover {
    bottom: 10px;
}

.services .cards .card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 4px;
    background-color: var(--main-color);
    transition: width var(--main-transition);
}


.services .cards .card:hover::after {
    width: 100%;
}

.services .cards .card i {
    color: #d5d5d5;
    font-size: 70px;
    margin-bottom: 10px;
}

.services .cards .card h3 {
    color: var(--main-color);
    font-size: 25px;
    margin-bottom: 40px;
}

.services .cards .card .details {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    padding-right: 20px;
    background-color: #f9f9f9;
}

.services .cards .card .details a {
    text-decoration: none;
    color: var(--main-color);
}

.services .cards .card .details .number {
    background-color: var(--main-color);
    width: 30%;
    height: 100%;
    position: relative;
}

.services .cards .card .details .number::before {
    content: "0" counter(cnt);
    position: absolute;
    top: 50%;
    left: calc(50% - 10px);
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.services .cards .card .details .number::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -37%;
    transform: translateY(-50%) skewX(-30deg);
    width: 55%;
    height: 100%;
    background-color: #d3d3d3;
}

/* End Services */