/* Start Variables */
:root {
    --main-color: #2196f3;
    --secondary-color: #ececec;
    --section-padding: 60px;
    --header-height: 75px;
    --header-focus-color: #fafafa;
    --main-transition: 0.3s;
}

/* End Variables */
/* Start General Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cairo', sans-serif;
}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


/* End General Rules */
/* Start Components */

/* End Components */
/* Start Header */

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

@media (max-width: 767px) {
    header .container {
        flex-direction: column;
        justify-content: center;
    }
}

header .container .logo {
    text-decoration: none;
    color: var(--main-color);
    font-size: 26px;
    font-weight: 700;
}

@media (max-width: 767px) {
    header .container .logo {
        padding: 10px;
    }
}

header .container .nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .container .nav>li>a {
    display: block;
    position: relative;
    text-decoration: none;
    font-size: 19px;
    padding: 25px 30px;
    color: black;
    overflow: hidden;
    transition: color var(--main-transition),
        background-color var(--main-transition);
}

@media (max-width: 767px) {
    header .container .nav>li>a {
        font-size: 14px;
        padding: 12px 10px;
    }
}

header .container .nav>li>a:hover {
    color: var(--main-color);
    background-color: var(--header-focus-color);
}

header .container .nav>li>a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 4px;
    background-color: var(--main-color);
    transition: width var(--main-transition)
}

header .container .nav>li>a:hover::before {
    width: 100%;
}

header .mega-menu {
    padding: 30px;
    background-color: white;
    width: 100%;
    border-top: 1px solid var(--secondary-color);
    border-bottom: 4px solid var(--main-color);
    position: absolute;
    left: 0;
    top: calc(100% + 50px);
    display: flex;
    justify-content: space-evenly;
    z-index: -1;
    opacity: 0;
    transition: opacity var(--main-transition), top var(--main-transition);
}

@media (max-width: 767px) {
    header .mega-menu {
        flex-direction: column;
    }
}

header .nav>li:hover .mega-menu {
    z-index: 10;
    opacity: 1;
    top: 100%;
}

header .mega-menu .image {
    flex-basis: 40%;
}

header .mega-menu .image img {
    max-width: 100%;
}

@media (max-width: 991px) {
    header .mega-menu .image {
        display: none;
    }
}

header .mega-menu .links {
    display: flex;
    flex-direction: column;
    min-width: 250px;
}

@media (min-width: 768px) and (max-width: 991px) {
    header .mega-menu .links {
        flex-basis: 45%;
    }
}

@media (max-width: 767px) {
    header .mega-menu .links {
        flex-basis: 90%;
    }
}

header .mega-menu .links li {
    text-align: start;
    align-content: center;
    position: relative;
    z-index: 11;
}

header .mega-menu .links li a {
    display: block;
    text-decoration: none;
    color: var(--main-color);
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    align-content: center;
    border-bottom: 1px solid var(--secondary-color);
}

header .mega-menu .links li a i {
    padding-right: 20px;
}

header .mega-menu .links li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--header-focus-color);
    z-index: -1;
    transition: width var(--main-transition);
}

header .mega-menu .links li:hover::before {
    width: 100%;
}

/* End Header */

/* Start Landing */

.landing {
    background-color: var(--secondary-color);
    padding: 400px 0;
}

.landing h1 {
    margin: 0;
}

/* End Landing */